body{
    height: 700px;
}

footer{
    height: 300px;
    position: relative;
    bottom: 0;
    background-color: black;
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 5px;
}
.grid img{
    max-width: 100%;
    max-height: 100%;
}